<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487469848562-2q6omob6n293qahqigi8mm62useml7ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487469848562-2q6omob6n293qahqigi8mm62useml7ct</string>
	<key>API_KEY</key>
	<string>AIzaSyD97xgcXcq7XbLPQTrCbImMhIoaVF5Veso</string>
	<key>GCM_SENDER_ID</key>
	<string>487469848562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medicineracker.medicineTracker</string>
	<key>PROJECT_ID</key>
	<string>medicinetracker-96f77</string>
	<key>STORAGE_BUCKET</key>
	<string>medicinetracker-96f77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487469848562:ios:3d53f81178cc8c6b573d6b</string>
</dict>
</plist>